<!DOCTYPE html>
<html>

<head>
    <title>

    </title>
</head>

<body>
    <main>
        <div>
            <h1>
                {{todolist.name}}</h1>
            <p><a href="{% url 'update_todolist' todolist.pk%}">Edit</a></p>
            <p><a href="{% url 'delete_todolist' todolist.pk%}">Delete</a></p>
            <h2>Tasks</h2>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Due Date</th>
                    </tr>

                </thead>
                <tbody>
                    {% for item in todolist.items.all %}
                    <tr>
                        <td><a href="{% url 'update_todoitem' todolist.id %}"> {{item.task}}</a></td>

                        <td>{{item.due_date}} </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
    </main>
</body>

</html>